body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;  
}

.navbar {
    display: flex;
    justify-content: center;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

ul {
    width: 30%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 0px;
    list-style: none;
}

li {
    text-align: center;
}
}

a {
    text-decoration: none;
}

.content1, .content2, .content3, .content4 {
    display: flex;
}

.content1 {
    justify-content: center;
}

.para1 {
    width: 30%;
}

.image {
    width: 30%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}